<body>
    <header>
      <a href="/home" class="logo">
        <!-- <img  class="ilogo" src="../access/logo-p.svg" alt=""> -->
        <img  class="ilogo" src="../assets/MemoFeel.gif" alt="">
      </a>
      <nav class="navbar">
        <ul class="nav-links">
          <li class="nav-link">
            <!-- <ตอนแรกเป็นแบบนี้<a href="#" data-text="Home">Home</a> เลยแก้ให้มันไปหน้าhomeได้> -->
            <a href="/" data-text="Home">Home</a>
          </li>
          <li class="nav-link mood" >
            <a href="#" data-text="Mood"
              >Mood
              <span class="material-icons dropdown-icon">
                arrow_drop_down
              </span>
            </a>
            <ul class="drop-down">
              <li> <a href="/add">Write</a> </li>
              <li> <a href="/month">Month</a> </li>
              <li> <a href="/year">Year</a> </li>
            </ul>
          </li>
          <li class="nav-link">
            <a href="/about" data-text="About">About</a>
          </li>
          <li class="nav-link">
            <a href="/team" data-text="Team">Team</a>
          </li>
        </ul>
      </nav> 
    </header>
    <main>
