<%- include('includes/head.ejs')%>
<link rel="stylesheet" href="../css/about.css" />
</head>
<body>
        <%- include('includes/nav.ejs')%>
        <div>
        <!-- <h1> <span class="line-text">-</span> About <span class="us-text">Us</span> <span class="line-text">-</span></h1> -->
        <h1>  About <span class="us-text">Us</span> </h1>

        <div class="text">
            <span >
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati possimus eaque amet expedita temporibus veniam iure ea dignissimos perspiciatis facilis delectus eligendi, sunt officiis quidem quae exercitationem iste explicabo est?
            </span>
        </div>
        </div>
    <%- include('includes/footer.ejs')%>
</body>
</html>
       