<%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="../css/add.css">

    </head>
    <%- include('includes/nav.ejs')%>
        <div class="add-container">
            <div class="container">
                <div class="header">
                    <h1><span id="cb">Enter </span> <span id="cd">Date </span> <span id="ce">and </span> <span id="ca">Notes</span></h1>
                </div>
                <form id="dateForm">
                    <div class="date-box">
                        <label for="date"><span id="aa">Date:</span></label>
                        <input type="date" id="date" name="date"><br><br>
                    </div>


                    <div class = input-item>
                        <label for="Notes"><span id="bb">Notes:</span></label>
                        <div class="description">
                            <textarea name="description" placeholder="Description"></textarea>
                            <select id="emoji" name="Notes">
                                <option value="😆">😆</option>
                                <option value="😀">😀</option>
                                <option value="🙂">🙂</option>
                                <option value="😐">😐</option>
                                <option value="🫤">🫤</option>
                            </select>
                        </div>
                    </div>

                    <div class="button-container">
                        <input class="ab" type="button" value="Add" onclick="sendData()">
                    </div>
                </form>

                <div id="result">
                    <p id="dateDisplay"></p>
                </div>
            </div>
        </div>

        <%- include('includes/footer.ejs')%>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/twemoji.min.js"></script>
            <script>
                function sendData() {
                    const dateInput = document.getElementById("date").value;
                    const emojiSelect = document.getElementById("emoji");
                    const selectedEmoji = emojiSelect.value;

                    // ตรวจสอบค่าที่ได้
                    console.log("Date: " + dateInput);
                    console.log("Selected Emoji: " + selectedEmoji);

                    // เคลียร์ค่า
                    document.getElementById("date").value = "";
                    emojiSelect.selectedIndex = 0;

                    const resultDiv = document.getElementById("result");
                    resultDiv.style.display = "block"; // แสดงผลลัพธ์
                }


            </script>
            </body>

            </html>