<%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="../css/add.css">

    </head>
    <%- include('includes/nav.ejs')%>
        <div class="add-container">
            <div class="container">
                <div class="header">
                    <h1><span id="cb">Enter </span> <span id="cd">Date </span> <span id="ce">and </span> <span id="ca">Notes</span></h1>
                </div>
                <form id="dateForm" method="POST">
                    <div class="date-box">
                        <label for="date"><span id="aa">Date:</span></label>
                        <input type="date" id="date" name="date">
                    </div>


                    <div class = "input-item">
                        <label for="Notes"><span id="bb">Notes:</span></label>
                        <div class="description">
                            <textarea name="description" id = "note" placeholder="Description"></textarea>
                            <div class="select_mood">
                                <img class="mood"   src="/assets/mood5.png" alt="">
                                <img class="mood"   src="/assets/mood4.png" alt="">
                                <img class="mood"   src="/assets/mood3.png" alt="">
                                <img class="mood"   src="/assets/mood2.png" alt="">
                                <img class="mood"   src="/assets/mood1.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="button-container">
                        <input class="ab" type="button" value="Add" onclick="sendData()">
                    </div>
                </form>

                <div id="result">
                    <p id="dateDisplay"></p>
                </div>
            </div>
        </div>

        <%- include('includes/footer.ejs')%>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/twemoji.min.js"></script>
            <script src="../script/add.js"></script>
            </body>

            </html>