<%- include('includes/head.ejs')%>
<link rel="stylesheet" href="../css/about.css" />
</head>
<body>
        <%- include('includes/nav.ejs')%>
        <div>
        <h1>Our Team</h1>
        
        
        <div class="text">
            <span class="fsize">
                <span class="internal">ในหนึ่งวันนั้นคุณมีอารมณ์ประมาณล้านแปด ทั้งสุข เศร้า เหงา โดดเดี่ยว ซึ่งเหล่านี้</span>
                <br>ล้วนเป็นอารมณ์ทั้งสิ้น แล้วจะดีกว่ามั้ยถ้าเรานั้นสามารถที่จะล่วงรู้อารมณ์ของตัวเองในแต่ละวัน 
                <br>และยังสามารถติดตามอารมณ์เหล่านั้นให้กลายเป็นบันทึกเพื่อตรวจดูสภาพอารมณ์ของเราได้ 
                <br>เพราะข้อดีของการบันทึกอารมณ์ของเรานั้นนอกจากที่เราจะได้รู้ภาพรวมของอารมณ์แล้วด้วยนั้น 
                <br>ยังทำให้เรารู้จักและเข้าใจตัวเองมากขึ้น โดยผ่านการทบทวนเหตุการณ์ที่เกิดขึ้น รวมถึงกิจกรรมที่
                <br>ได้ทำในแต่ละวัน ทีมเราจึงได้พัฒนาเว็บไซต์ "Memo Feel" ขึ้นมา เพราะเราเชื่อว่า "บันทึกความรู้สึก" 
                <br>จะเป็นเครื่องมืออันมีค่าในการเดินทางสู่การตระหนักรู้ในตนเองและความเป็นอยู่ที่ดีทางอารมณ์ 
            </span>
        </div>
            <!-- <img  class="bg"  src="../assets/bg.png" alt=""> -->
            <!-- <img  class="bg"  src="../assets/bg1.png" alt=""> -->
        </div>
    <%- include('includes/footer.ejs')%>
</body>
</html>
       