<%- include('includes/head.ejs')%>
<link rel="stylesheet" href="../css/team.css" />
</head>
<body>
        <%- include('includes/nav.ejs')%>
        <div class="tt">
            <h1>  Our <span class="us-text">Team</span> </h1>
        <div class="big">
            <div class="bbox">
                <div class="pict" id="aoi"></div>
                <div class="ftextt" >
                <span ><h3><span class="cf">6321602671</span> <br>ไพลิน โมรารักษ์  </h3></span></div>
            </div>
            <div class="bbox">
                <div class="pict" id="kung"></div>
                <div class="ftextt">
                <span ><h3>6321602701 <br>วิชุดา ภูเทียมศรี</h3></span></div>
            </div>
            <div class="bbox">
                <div class="pict" id="bew"></div>
                <div class="ftextt">
                <span ><h3>6321610011 <br>ทิพวัลย์ โกศล </h3></span></div>
            </div>
            <div class="bbox">
                <div class="pict" id="beem"></div>
                <div class="ftextt">
                <span><h3>6321610194 <br>สุพัตรา ด้วงเพิ้ง </h3></span></div>
            </div>
        </div>
    
    
        </div>
    <%- include('includes/footer.ejs')%>
</body>
</html>
       