* {
  box-sizing: border-box;
}
body {
  /* background-color: #F2555B; */
  /* background-color: #EAF2FF; */
  /* background-color: #5752AD; */
  background-color: #ffbd59;
  margin: 0;
  padding: 0;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
header {
  /* height: 120px; */
  display: flex;
  padding-bottom: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   
}
.navbar {
  margin: auto;
  margin-right: 2rem;
  padding: 0.5rem 2rem;
  margin-top: 1.5rem;
  /* background: #5752AD; */
  /* background: white; */
  border-radius: 1rem;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  font-size: 20px;
}

.nav-links {
    margin: 0;
  display: flex;
  gap: 2rem;
  padding-left: 0rem;
}
.nav-link,
.drop-down li {
  list-style: none;
  height: 100%;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
  color: #5752ad;
}

.nav-link a {
  text-decoration: none;
  color: currentColor;
}

.drop-down {
  z-index: 99;
  position: absolute;
  padding: 0.5rem 0.3rem;
  margin: 0.5rem -0.5rem;
  background: antiquewhite;
  color: black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  font-size: 14px;
  display: none;
}

.nav-link:hover {
  background-color: #5752ad;
  color: #fff;
  border-radius: 0.5rem;
}

.mood:hover .drop-down {
  display: block;
}

.mood a {
  display: flex;
  align-items: center;
}

.mood .dropdown-icon {
  font-size: 18px;
  position: relative;
  right: -5px;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out all;
}

.mood:hover .dropdown-icon {
  transform: rotate(180deg);
}

.drop-down li:hover {
  background: #f2555b;
  color: #fff;
  border-radius: 0.5rem;
}

.logo {
  /* background-color: antiquewhite;  */
  /* background-color: #5752AD; */
  /* box-shadow: 0 4px 5px antiquewhite;; */
  border-radius: 40rem;
  width: 5rem;
  height: 5rem;
  margin: 1rem 2rem;
  margin-top: 0.8rem;
  animation: shake 0.5s infinite;
}
.ilogo {
  margin-left: 0.3rem;
  width: 8rem;
  z-index: 1;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(1px);
  }
  75% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(1px);
  }
}

footer {
  margin: 0;
  padding: 0;
  display: flex;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
  position: relative;
  /* width: 100%; */
  background: #5752ad;
  top: -40;
  min-height: 30px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 35vh;
  font-weight: 550;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
footer .social_icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li {
  list-style: none;
}
footer .social_icon li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icon li a:hover {
  transform: translateY(-10px);
}
footer .menu li a {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a:hover {
  opacity: 1;
}
footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}
footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../assets/wave.png);
  background-size: 1000px 100px;
}
footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
