@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;500;600&family=Prompt:ital,wght@0,100;0,300;0,600;0,800;1,100;1,300&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


.container{
    padding: 20px 0;
    height: 100%;
    position: relative;
}

.container-blur{
    width: 100%;
    height: 100%;
    background-color: rgba(206, 197, 197, 0.5);
    z-index: 99;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide{
    display: none;
}

 .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Titan One', cursive;
    font-size: 23px;
}

#Monthname,#yearNo{
    text-align: center;
    height: 30px;
    width: 150px;
}
 .month ,.year{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 } 

 .arrow-up {
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f00;
    background: linear-gradient(to top, transparent 50%, rgba(255, 255, 255, 0.5) 50%);
  }
  
  .arrow-down {
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f00;
    background: linear-gradient(to top, transparent 50%, rgba(255, 255, 255, 0.5) 50%);
  }

  
.card-container{
    margin-top: 30px;
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}


.card{
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    color: #505050;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    position: relative;
    margin: 20px 10px;
    width: 120px;
    height: 130px;
    background-color: #fff;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2),
    -3px -3px 4px rgba(189, 175, 175, 0.2);
}

.pin{
    position: absolute;
    top: -20px;
    width: 30px;
    height: 30px;
    background-color: #FFCC33;
    border-radius: 100%;
}

.top{
    width: 100px;
    height: 80px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.top img{
   z-index: 3;   
   width: 70px;
}


.date{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.card-day {
    font-family: 'Patrick Hand', cursive;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 10px 20px;
    align-items: center;
    position: relative;
    margin: 30px;
    width: 360px;
    height: 390px;
    background-color: #fff;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), -3px -3px 4px rgba(189, 175, 175, 0.2);
    animation: expandCard 1.0s ease forwards; /* ใช้ animation */
    transform-origin: center top; 
}



#note{
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 100%;

    height: 280px;


}


.footer{
    width: 100%;
    height: 60px;
}

.footer p{
 margin: 0;
  text-align: end;
  font-size: 12px;
}
.card-day img{
    width: 30px;
    margin-top: 5px;
    padding: 3px 15px;
    border-radius: 10px;
    background-color: #EE4444;
}

.card-day img:hover,.card-day img:active{
    background-color: #e67575;
}

@keyframes expandCard {
    from {
        transform: scale(0.3); 
        opacity: 0; /
    }
    to {
        transform: scale(1);
        opacity: 1; 
    }
}


.pushy__btn {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    display: inline-block;
    border: none;
    border-radius: 1.5em;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    padding: .25em 0.75em .375em;
    position: relative;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .pushy__btn:active {
      -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
              box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
      margin-top: .25em;
      padding-bottom: .5em; }
    .pushy__btn:active, .pushy__btn:focus {
      outline: none; }
    .pushy__btn--red {
      background-color: #EE4444; }
    .pushy__btn--sm {
      font-size: 0.75em; }