@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;500;600&family=Prompt:ital,wght@0,100;0,300;0,600;0,800;1,100;1,300&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@200;400&family=Mali:wght@200;300&family=Patrick+Hand&display=swap');

body{
    position: relative;
}

.container-month .container{
    padding: 20px 0;
    height: 100%;

}

.container-blur{
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(206, 197, 197, 0.5);
    z-index: 99;
    position: absolute;
    display: flex;
    justify-content: center;
}

.hide{
    display: none;
}


.container-month .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Titan One', cursive;
    font-size: 23px;
}

.container-month #Monthname,#yearNo{
    text-align: center;
    height: 30px;
    width: 150px;
}
.container-month .month ,.year{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 } 

 .container-month .arrow-up {
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f00;
    background: linear-gradient(to top, transparent 50%, rgba(255, 255, 255, 0.5) 50%);
  }
  
  .container-month .arrow-down {
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f00;
    background: linear-gradient(to top, transparent 50%, rgba(255, 255, 255, 0.5) 50%);
  }

  
  .container-month .card-container{
    margin-top: 30px;
    /* width: 100vw; */
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}


.container-month .card{
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    color: #505050;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    position: relative;
    margin: 20px 10px;
    width: 120px;
    height: 130px;
    background-color: #fff;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2),
    -3px -3px 4px rgba(189, 175, 175, 0.2);
}

.container-month .pin{
    position: absolute;
    top: -30px;
    left: 0;
    width: 50px;
    height: 50px;
    /* background-color: #FFCC33; */
    border-radius: 100%;
    /* border: 1px solid red; */
}

.container-month .pin img{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    /* transform: rotate(-45deg);        */
    z-index: 4;
    /* background-color: #FFCC33; */
    border-radius: 100%;
}


.container-month .top{
    width: 100px;
    height: 80px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-month .top img{
   z-index: 3;   
   width: 70px;
}


.container-month .date{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.card-day {

    font-family: 'Patrick Hand', cursive;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 10px 20px;
    align-items: center;
    position: relative;
    margin: 30px;
    margin-top: 100px;
    width: 360px;
    height: 390px;
    background-color: #fff;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), -3px -3px 4px rgba(189, 175, 175, 0.2);
    animation: expandCard 0.6s ease forwards; /* ใช้ animation */
    transform-origin: center top; 
}



 #note{
  font-family: 'Mali', cursive;
  font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 100%;
    height: 280px;
}


.container-blur .footer{
    width: 100%;
    height: 60px;
}

.container-blur .footer p{
 margin: 0;
  text-align: end;
  font-size: 12px;
}


.container-blur #bin{
    width: 50px;
    margin-top: 5px;
    padding: 3px 15px;
    border-radius: 10px;
    z-index: 5;
    background-color: #EE4444;

}

.container-blur #bin:hover,#bin:active{
    background-color: #e67575;
}

@keyframes expandCard {
    from {
        transform: scale(0.3); 
        opacity: 0; /
    }
    to {
        transform: scale(1);
        opacity: 1; 
    }
}


.container-month .pushy__btn {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    display: inline-block;
    border: none;
    border-radius: 1.5em;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    /* padding: .50em 1.75em .75em; */
    padding: .30em 1.2em .5em;

    position: relative;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .pushy__btn:active {
      -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
              box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
      margin-top: .25em;
      padding-bottom: .5em; }
    .pushy__btn:active, .pushy__btn:focus {
      outline: none; }
    .pushy__btn--red {
      background-color: #EE4444; }
    .pushy__btn--sm {
      font-size: 0.75em; }

      .pushy__btn:active {
        -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2),
          inset 0 2px 0 rgba(255, 255, 255, 0.1),
          inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2),
          inset 0 2px 0 rgba(255, 255, 255, 0.1),
          inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
        margin-top: 0.25em;
        padding-bottom: 0.5em;
      }
      .pushy__btn:active,
      .pushy__btn:focus {
        outline: none;
      }
      .pushy__btn--red {
        background-color: #ee4444;
      }
      .pushy__btn--sm {
        font-size: 0.75em;
      }